name: Rust

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Cache Rust
              uses: actions/cache@v3
              with:
                  path: |
                      ~/.cargo/registry
                      ~/.cargo/git
                      ~/.rustup/toolchains/nightly-*
                  key: ${{ runner.os }}-cargo-nightly-${{ hashFiles('**/Cargo.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-cargo-nightly-

            - name: Set up nightly Rust
              run: |
                  rustup toolchain install nightly
                  rustup override set nightly

            - name: Build
              run: cargo build --verbose

            - name: Test
              run: cargo test --verbose
